body{
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 800px;
    height: 700px;
    border: 1px solid silver;
    border-radius: 5px;
}

/* Top Bar */

header{
    text-align: center;
    background: rgba(255, 255, 240, 0.35);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

h1{
    margin: 0;
}

/* Seed Colour & Scheme*/

#seed-colour-select{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid whitesmoke;
    padding: 0 10px 10px 10px;
}

input[type="color"] {
  width: 70px;
  height: 40px;
}

#seed-colour-input, #scheme-type, #get-scheme-btn, #seed-colour-hex{
    margin: 15px 30px 0 0;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    background-color: white;
    padding: 4px 10px;
}

#get-scheme-btn:active{
    box-shadow: 0 0 2px black;
}


/* Colour Palette */

#colour-palette-display{
display: grid;
grid-template-columns: repeat(5, 1fr);
}

.colour-bar{
  padding-bottom: 500px;
  height: 8%;
}

.colour-hex-code{
  text-align: center;
}